body {
  background-color: rgb(228, 228, 224);
  margin: 0;
}
.container {
  border: 10px solid rgb(242, 250, 250);
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}
.menu {
  width: 30%;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
.logo {
  margin-left: 20px;
  color: #434444;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.content-wrapper {
  display: flex;
}
.image-carousel {
  position: absolute;
  margin-top: 10px;
  position: relative;
  right: 3%;
}
.image-carousel img {
  width: 820px;
  height: 400px;
}

.side-content {
  position: relative;
  left: 70px;
  width: 100%;
  height: 320px;
  top: 60px;
  backdrop-filter: blur(10px);

  z-index: 1;
}
.side-content,
h1,
p {
  margin-left: 20px;
  margin-right: 22px;
}
.main-heading {
  font-size: 40px;
  line-height: normal;
  color: #50646c;
  /* font-weight: 700; */
  font-family: sans-serif;
}
.side-content > p {
  font-weight: 200;
  color: rgb(60, 60, 59);
}
.trusted-companies {
  padding: 10px;
  background-color: rgb(212, 216, 213);
  margin-top: 70px;
  /* height: 100px; */
  text-align: center;
}
.company-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
  color: #50646c;
  font-family: "Courier New", Courier, monospace;
}

.sales {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-top: 70px;
}
.sale-item {
  background-color: #d9e0e0;
  text-align: center;
}
.about-page {
  display: flex;
  justify-content: space-between;
}
.learn-more-btn {
  margin: 60px;
  /* padding: 10px; */
  font-size: 14px;
  width: 100px;
  padding: 10px;
  background-color: rgb(240, 247, 247);
  border: none;
  box-shadow: 1px 1px 1px 1px rgb(196, 222, 222);
  cursor: pointer;
  border-radius: 5px;
}

.learn-more-btn:hover {
  box-shadow: 1px 1px rgb(110, 126, 126);
}
.about-container {
  display: flex;
  width: 100%;
}
.steps-section {
  display: flex;
  flex-wrap: wrap;
  width: 50%;

  align-items: center;
}
.step-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.step-item > p {
  width: 180px;
  color: #464848;
}
.step-item > h3 {
  font-size: 24px;
  color: #50646c;
  margin-left: 20px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 50%;
}

.products > h1 {
  color: #373535;
  margin-left: 20px;
}

.products-list-names ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  align-items: center;
  color: #464848;
  cursor: pointer;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  /* background-color: #50646c; */
}
.product {
  /* margin: 10px; */
  background-color: #ebf1f1;
  text-align: center;
  /* border-radius: 30px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.footer-container {
  margin-top: 30px;
  background-color: rgb(174, 146, 146);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.getStarted-btn,
.contactSales-btn {
  background-color: #b3bab3;
  color: rgb(71, 67, 67);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.getStarted-btn:hover,
.contactSales-btn:hover {
  background-color: #98c49b;
}
